.box {
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: lightgray;
  }
  
  #outer {
    background-color: lightblue;
  }
  
  #inner {
    background-color: lightgreen;
  }
  